@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v2/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body {
    margin: 0;
    background: white;
    font-size: 8px;
}
body > header, main {
    margin: 0 1em;
    padding: 0;
    width: 30em;
}

/*body > header {
    background: url("http://www.pierce.ctc.edu/dept/interpreter/ref/images/banner.jpg") no-repeat right;
}*/

h1 {
    margin: 0;
    font-family: "Georgia", serif;
    display: none;
}
#logo {
    width: 6em;
    top: .5em;
    position: absolute;
    left: 1em;
}

body > nav {
    background: #bada55;
    font: 1em "Oxygen", sans-serif;
    border-bottom: .25em solid #669933;
}
body > nav ul {
    margin: 0;
    margin-left: 8em;
    padding: 0;
    width: 24em;
}
body > nav li {
    list-style: none;
    display: inline-block;
    width: 20%;
}
body > nav a {
    padding: 1.5em 0 .25em;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: .25em solid #669933;
    margin-bottom: -.25em;
    text-decoration: none;
    color: #336600;
}
body > nav ul:hover .current a {
    border-bottom-color: #669933;
    color: #336600;
}
body > nav .current a, body > nav a:hover, body > nav ul .current a:hover, body > nav a:focus {
    border-bottom-color: black;
    color: black;
    outline: 0;
}

h2 {
    margin: .25em 0;
    /*border-bottom: .125em solid black;*/
    font-family: "Georgia", serif;
}
h3 {
    margin: .25em 0;
    /*border-bottom: .11em solid black;*/
    font-family: "Georgia", serif;
}
main p, main ul, main input, main select, main textarea {
    font: 1em "Georgia", serif;
}

main form input:not([type=radio]), main form textarea {
    border-radius: .2em;
    border: .1em solid #669933;
    width: 15em;
    font-family: "Oxygen", sans-serif;
    background: white;
    display: block;
}
main form input:focus, main form textarea:focus {
    border-color: black;
    outline: 0;
}
main form textarea {
    height: 4em;
}
main form input[type=submit] {
    width: 10em;
    display: inline-block;
}
main form input[type=reset] {
    width: 5em;
    display: inline-block;
}
main form fieldset {
    background: #bada55;
    border: 0;
    position: relative;
    padding: .5em;
    margin: .5em 0;
}
main form legend {
    font-family: "Oxygen", sans-serif;
    background: white;
    position: absolute;
    top: .1em;
    right: .1em;
    padding: .2em .7em;
}

/* replace with JavaScript */
main form label[for=datum]:after {
    content: "Du måste ange ett korrekt datum!";
    color: red;
    position: absolute;
    font-size: .8em;
    left: 20em;
    margin-top: 2em;
}
main form #datum {
    border-color: red;
}
main form fieldset:last-child:after {
    content: "Åtgärda 1 fel för att skicka!";
    color: red;
    position: absolute;
    font-size: .8em;
    left: 20em;
    margin-top: .8em;
}

body > footer p {
    background: #bada55;
    margin: 0;
    padding: .5em 1em;
    border-top: .125em solid #669933;
}

/* == media querries == */

@media (min-width: 320px) { body { font-size: 10px; } }

@media (min-width: 480px) { body { font-size: 15px; } }

@media (min-width: 640px) { body { font-size: 20px; } }

@media (min-width: 800px) { body { font-size: 25px; } }

@media (min-width: 1000px) { body > nav ul { width: 32em; } }
