/*
red: #6b0808
green: #669933
beige: #cfccaa
*/

@font-face {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: local('Oxygen'), local('Oxygen-Regular'), url(https://themes.googleusercontent.com/static/fonts/oxygen/v2/eAWT4YudG0otf3rlsJD6zOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body {
    margin: 0;
    background: #cfccaa;
    font-size: 10px;
}
body > header, body > nav ul, body > main, body > footer {
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

body > header {
    padding: 1em 0;
}
h1 {
    margin: 0;
}

h1:after {
    content: " default";
}

body > nav {
    background: #669933;
    font: 1em "Oxygen", sans-serif;
    border-bottom: .2em solid #6b0808;
}
body > nav li {
    list-style: none;
    display: inline-block;
    width: 20%;
}
body > nav a {
    padding: .5em 0 .25em;
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: .2em solid #6b0808;
    margin-bottom: -.2em;
    text-decoration: none;
    color: #6b0808;
}
body > nav ul:hover .current a {
    border-bottom-color: #6b0808;
    color: #6b0808;
}
body > nav .current a, body > nav a:hover, body > nav ul .current a:hover, body > nav a:focus {
    border-bottom-color: #dfddbb;
    color: #dfddbb;
    outline: 0;
}

h2 {
    margin: 0;
}
main p, main ul {
    font: 1em "Georgia", serif;
}

/* == media querries == */

@media (min-width: 320px) { h1:after {content:" min 320";}

body {
    font-size: 12px;
}
body > header, body > nav ul, body > main, body > footer {
    width: 320px;
}

}

@media (min-width: 480px) { h1:after {content:" min 480";} /*iPhone 5: 568px*/

body {
    font-size: 16px;
}
body > header, body > nav ul, body > main, body > footer {
    width: 480px;
}

}

@media (min-width: 640px) { h1:after {content:" min 640";}

body {
    font-size: 20px;
}
body > header, body > nav ul, body > main, body > footer {
    width: 640px;
}

}

@media (min-width: 800px) { h1:after {content:" min 800";}

body {
    font-size: 24px;
}
body > header, body > nav ul, body > main, body > footer {
    width: 800px;
}

}